<div class=" uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow">
  <header class="uk-heading-small">Map of Irish Science</header>
  <table class="uk-table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Location</th>
      <th>Contributor</th>
    </thead>
    <tbody class="uk-text-left">
      {{#each contributions}}
        <tr>
          <td>{{name}}</td>
          <td>{{type}}</td>
          <td>{{description}}</td>
          <td>{{location}}</td>
          <td>{{contributor.firstName}} {{contributor.lastName}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/home">Add Scientist or Location
    <i class="fas fa-vial fa-3x" style="color:rgb(153, 196, 74)" title="Contribute" pos="bottom" uk-tooltip></i>
  </a>
</div>
