<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      Ireland's Scientists and Places of Scientific Interest
    </caption>
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Location</th>
      <!---<th>Image</th>--->
    </thead>
    <tbody class="uk-text-left">
      {{#each contribution}}
        <tr>
          <td>{{name}}</td>
          <td>{{type}}</td>
          <td>{{description}}</td>
          <td>{{location}}</td>
          <!---<td>{{image}}</td>--->
          <td> {{user.firstName}} {{user.lastName}} </td>
         <!--- <td>{{candidate.lastName}}, {{candidate.firstName}}</td> --->
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>



 <!---<tbody class="uk-text-left">
      {{#each donations}}
        <tr>
          <td>{{name}}</td>
          <td>{{type}}</td>
          <td> {{donor.firstName}} {{donor.lastName}} </td>
          <td>{{candidate.lastName}}, {{candidate.firstName}}</td>
        </tr>
      {{/each}}
    </tbody> --->