<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <legend class="uk-legend">Welcome: {{user.firstName}} {{user.lastName}}</legend>
</div>
<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      Contributions
    </caption>
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Location</th>
      <th>Contributor</th>
    </thead>
    <tbody class="uk-text-left">
      {{#each contributions}}
        <tr>
          <td>{{name}}</td>
          <td>{{type}}</td>
          <td>{{description}}</td>
          <td>{{location}}</td>
          <td>{{contributor.firstName}} {{contributor.lastName}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
