<!-- List of POI contributions -->
<div class=" uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow">
  <img src="images/edgeworth-logo.png">


  {{#each contributions}}
  <div class="uk-margin-large uk-card uk-card-default uk-card-body uk-box-shadow">
    <!-- Added extra pair of curly brackets for cross-site scripting test-->
    <h2>{{{name}}}</h2>
    <!-- Added edit, delete, and like buttons -->
    <a href="/edit-contribution/{{_id}}" uk-icon="pencil"></a><a href="/delete-contribution/{{_id}}" uk-icon="trash"><a
        href="/like-contribution/{{_id}}" uk-icon="star">{{likes}}</a>
      <p>{{type}}</p>
      <p class="uk-text-left">{{description}}</p>
      <p>Location: {{location}}</p>
      <td>Contributor: {{contributor.firstName}} {{contributor.lastName}}</td>
  </div>
  {{/each}}

  <a href="/home">
    <i class="fas fa-vial fa-3x" style="color:rgb(44, 148, 139)" title="Add" pos="bottom" uk-tooltip></i>

  </a>
</div>