<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      Donations to Date
    </caption>
    <thead>
      <th>Fact</th>
      <th>Fact Type</th>
      <th>Submitter</th>
      <th>Scientist</th>
    </thead>
    <tbody class="uk-text-left">
      {{#each donations}}
        <tr>
          <td>{{amount}}</td>
          <td>{{method}}</td>
          <td> {{donor.firstName}} {{donor.lastName}} </td>
          <td>{{candidate.lastName}}, {{candidate.firstName}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
